@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

.container-fluid {
	height: 100vh;
}

/* header */
.header-div {
	padding: 20px 100px 0px 100px;
	border-bottom: solid 1px #EAEAEA;	
	height: 50%;
}

.header-logo {
	padding: 7px 0px;
	text-align: left;	
}

.header-logo > a > img {
	width: 30px;
}

.header-welcomeText {
	text-align: right;
}

/* body */
body {
	font-family: 'Pretendard-Light'
}

/* footer */
.footer {
    display: flex;
    height: 100px;
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
	background-color: #F5F6F7;
}

.contact-info {
    display: flex;
    width: auto;
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    padding: 0px 100px;
    color: #353535;
}

/* sidebar */
#sidebarBtn {
	padding-right: 10px;
    cursor: pointer;
}

.sidebarMenu #closeBtn {
	text-align: right;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    color: white;
}

.sidebarMenu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s; /* 0.5초 애니메이션 효과 */
    padding-top: 60px;
    z-index: 1000; /* 맨 앞으로 */
}

.sidebarMenu p:not(#mapTitle) {
	display: block;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
}

.sidebarMenu a, #mapTitle {
	display: block;
    padding: 10px 15px;
    text-decoration: none; /* <a>태그의 기본 밑줄을 없앰 */
    font-size: 14px;
    color: white;
}

.sidebarMenu a:not(#closeBtn):hover {
    background-color: #575757;
}

.category-box {
	padding: 10px; 
/* 	border-bottom: solid 0.5px gray; */
}

.title {
    margin-bottom: 0;
    font-weight: bold;
/*     text-decoration: underline; */
}

#mapTitle {
	margin-bottom: 0;
}