@charset "UTF-8";
/* ckeditor */
.createPage-main {
	padding: 50px 0px;
}

.create-form {
	display: flex;
    flex-direction: column;
}

.ck-editor__editable {
	height: 400px;
}

.ck-editor__editable p {
	margin: 0
}

.ck-content { 
	font-size: 13px; 
}