@charset "UTF-8";
.createPage-main {
	padding: 50px 0px;
}

.create-form {
	display: flex;
    flex-direction: column;
}

/* 편집창 크기 조절 */
.ck-editor__editable {
	height: 400px;
}

.ck-editor__editable p {
	margin: 0
}

.ck-content { 
	font-size: 13px; 
}