@charset "UTF-8";

/* 포스트 상단 */
.container-fluid {
	padding: 20px;
	width: 100%;
	max-width: 770px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	box-sizing: border-box;
} 

.row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%; 
}

.post-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.bName {
	padding: 15px;
}

/* 포스트 중단 */
.post {
	padding-top: 20px;
	flex-grow: 0; /* 크기 고정 */
/* 	border-top: 1px solid grey; */
/* 	border-bottom: 1px solid grey; */
}

.post-meta-div {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-grow: 0; 
}

.post-meta-dl {
    display: flex;
    align-items: center; 
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
}

.post-meta-item {
	color: grey;
	font-size: 13px;
	margin: 0px;
}

/* 각 dt 항목 뒤에 · 추가 */
.post-meta-dl .post-meta-item:not(:first-child)::before {
    content: "\00A0·\00A0";
    color: #C2C8CC;
    font-weight: bold;
}

/* 마지막 항목 뒤에는 · 추가하지 않음 */
.post-meta-dl .post-meta-item:last-child::before {
    content: "";
}

#like-button {
	width: 15px; 
	height: 15px;
	cursor: pointer;
}

/* 댓글 */
.reply-section {
	font-size: 15px;
	padding: 20px 0px;
	flex-flow: 0; /* 크기 고정 */
}

.reply-form table{
	width: 600px;
	height: 100px;
}

.reply-form th, tr, td {
	padding: 5px 0px;
	text-align: left;
}

.reply-form button, a {
	margin: 20px;
}

.replyChild-td {
	background-color: #F6F6F6;
	padding: 3px;
	text-align: left;
}

/* ckeditor 이미지 업로드 사이즈 */
.post > figure {
	overflow: hidden;
	max-width: 100%;
}

.post img {
	max-width: 60%;
    height: auto; !important;
    object-fit: cover;
}

/* 공유 버튼 */
.social-share-btn {
	cursor: pointer;
}

@media (max-width: 768px) {
    .container-fluid {
        width: 90%;  /* 모바일에서 크기 줄이기 */
    }
    .post-header h1 {
        font-size: 18px;  /* 모바일에서 제목 크기 줄이기 */
    }
    .post {
        padding: 15px 0;
    }
    .reply-section {
        padding: 15px 0;
    }
}

hr {
    margin: 0;
    padding: 0;
    height: 1px;
    border: none;
    background-color: #EAEDEF;
    margin-top: 20px;
}