@charset "UTF-8";
body {
	background-color: rgb(245, 238, 232);
}


/* 포스트 상단 */
.container-fluid {
	width: 100%;
	max-width: 770px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
/* 	min-height: 100vh; */
	height: auto;	
} 

.row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%; 
	height: 100%;
}

.post-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height:20%;
}

.bName {
	padding: 15px 15px 15px 0px;
}

.col-md-12 {
	background-color: #fff;
	width: 100%; 
	height: 100%;
	box-sizing: border-box;
}

.title-and-name {
	padding-top: 10%;
}

/* 포스트 중단 */
.post {
	padding-top: 20px;
	flex-grow: 1;
	height: 50%; 
}

.post-meta-div {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-grow: 0; 
}

.post-meta-dl {
    display: flex;
    align-items: center; 
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
}

.post-meta-item {
	color: grey;
	font-size: 13px;
	margin: 0px;
}

/* 각 dt 항목 뒤에 · 추가 */
.post-meta-dl .post-meta-item:not(:first-child)::before {
    content: "\00A0·\00A0";
    color: #C2C8CC;
    font-weight: bold;
}

/* 마지막 항목 뒤에는 · 추가하지 않음 */
.post-meta-dl .post-meta-item:last-child::before {
    content: "";
}

#like-button {
	width: 15px; 
	height: 15px;
	cursor: pointer;
}

/* ckeditor 이미지 업로드 사이즈 */
.post > figure {
	overflow: hidden;
	max-width: 80%;
}

.post img {
	max-width: 80%;
    height: auto; !important;
    object-fit: cover;
}

/* 공유 버튼 */
.social-share-btn {
	cursor: pointer;
}

/* 이미지 갤러리
================================================== */
.image-container {
	display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.card {
	border-radius: 2px;
    background: #ffffff; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.card-image {
	position: relative;
    display: block;
    width: 100%;
    padding-top: 70%;
    background: #ffffff;
}

.card-image img {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.more-button {
	position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.more-text {
    color: white;
    font-size: 14px;
}

/* 모달 */
.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
    max-height: calc(80% - 40px);
	max-width: 1000px;
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 10px;
	border: 0.5px solid #DEE2E6;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	position: relative;
	padding: 20px;
	border: none !important;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 17px;
}

.close-button {
	font-size: 30px;
	cursor: pointer;
	color: #333;
}

.modal-image-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 0.5rem;
	justify-content: center;
	margin-top: 20px;
}

.modal-card {
	border-radius: 5px;
	background-color: #fff;
/* 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24); */
	overflow: hidden;
}

.modal-card-image {
	position: relative;
	display: block;
	width: 100%;
	padding-top: 70%;
	background-color: #fff;
}

.modal-card-image img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
	border-radius: 5px;
}

.modal-card-image img:hover {
	transform: scale(1.05);
}

/* post와 image-container 구분선 */
.hidden-hr {
	display: none !important;
}

.show-hr {
	display: block !important;
}

@media only screen and (max-width: 600px) {
  .main .container {
    grid-template-columns: 1fr;
  }
  
  .main .more-text {
  	font-size: 12px;
  }
}

/* 댓글
================================================== */
:root {
  --theme: #BFBFA8;
  --dark: #444;
  --medium: #545454;
  --light: rgba(178, 179, 153, .125);
}

.reply-form {
	width: 100%;
	padding: - 1rem;
	min-height: 100px;
}

.commentCount-div {
	padding-top: 20px;	
}

.commentCount {
	color: #ad9f94;
	font-weight: 500;
}

.comment-input-container {
	display: flex;
	align-items: center;
	gap: 10px; /* 입력창과 버튼 사이 여백 */
	padding: 30px  0px;	
}

.styled-input {
	flex-grow: 1;	
	
}

.comments {
/* 	max-height: 300px; */
	max-height: none;
/* 	overflow-y: auto; */
	overflow-y: visible;
	margin-bottom: 50px;
}

.comments-sortButton-container {
	display: flex;
	justify-content: flex-end;
}

.comments-sortButton {
	padding: 5px;
	font-size: 14px;
	cursor: pointer;
}

.page-link {
	color: #ad9f94;
}

span.page-link	{
	background-color: #ad9f94;	
	color: #fff;
}

.page-link:hover {
	color: #B0B0B0;
}

article {
	position: relative;
	border-bottom: solid 1px var(--light) !important; 
	padding: 15px 0px;
	
	&:last-child {
		border: none;
	}
	
	&:hover {
		.post-time {
			opacity: 1;
		}
	}
	
	img {
		position: relative;
		top: -5px;
		left: 0;
		vertical-align: middle; 
		width: 30px;
		height: 30px;
		border-width: 0;
		border-radius: 100%;
		object-fit: cover;
	}
	
	.author-name {
		display: inline-block;
		font-weight: 500;
        margin-left: 0.5rem;
		margin-bottom: 0.5rem;
		font-size: 16px;
		
		a {
			color: #404040;
			text-transform: lowercase;
			text-decoration: none;
			
			&:hover {
				color: var(--theme);
			} 
		}
	}
	
	.post-time {
		color: var(--medium);
		margin-left: 1rem;
		text-transform: uppercase;
	} 
	
	.like-button2 {
		color: var(--medium);
		font-size: .85rem;
		border: none;
		
		&:hover {
			opacity: .5;
		}
	}
	
	.post-time,
	.like-count,
	.like-button2 {
		font-size: .75rem;
		opcity: 0;
	}	
	
	.post-time, .like-count {
		font-weight: 300;
	}
	
	.post-content {
		font-size: 16px;
		margin: 0.5rem 0rem;
		.reply {
			color: var(--theme);
			cursor: pointer;
		}
	}
	
	.active {
		opacity: 1;
	}
}

.like-data {
	float: right;
}

.like-button2 {
	background: none;
	outline: none;
	margin: 0 .125rem 0 0;
	padding: 0;
}

.reply-form article:hover .like-button2,
.reply-form article:hover .like-count {
	opacity: 1;		
}

/* 답글
================================================== */
.comment-child {
	background-color: #F6F6F6;
}

.comment-child img {
	margin-left: 2vw;
}

.comment-child .post-content {
	padding-left: 30px;
}


@media (max-width: 768px) {
    .container-fluid {
        width: 90%;  /* 모바일에서 크기 줄이기 */
    }
    .post-header h1 {
        font-size: 18px;  /* 모바일에서 제목 크기 줄이기 */
        text-align: left;
    }
    
    .post {
        padding: 15px 0;
    }
    
  	.reply-form {
	  	width: 100%;
	 	height: auto;
		padding: 0 1rem;
		  
		article {
	  		position: relative;
			padding: 10px 0;	  	
	  	
	  		#profile-photo {
	  			position: relative;
	  			left: 0;
	  			width: 20px;
	  			height: 20px; 
	  			vertical-align: middle;
  		}
	  	
	  	.author-name {
	  		font-size: 1rem;
	  		display: block;
	  		margin-left: 0 !important;
	  		opacity: .5 !important;
	  	}
	  	 
	  	.post-time {
	  	 	font-size: 0.75rem;
	  	 	margin-left: 0;
	  	}
	  	 
	  	.post-content {
	  	 	font-size: 1rem;
	  	}
  	  }
   }
   
   .comments {
		max-height: 200px;
		overflow-y: auto;
   }
   
   .styled-input {
   		width: 100%;
   }
}