@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

/* 상단바 */
.start-header {
	background-color: rgb(245, 238, 232) !important;
}

.container-fluid {
	padding: 50px; width: 1200px;
	padding: 50px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.fa-comment-dots {
	color: #8C8C8C; font-size: 13px; padding-left: 5px;
}

.commentCount {
	color: #8C8C8C; font-size: 13px;
}

.pagination {
	margin: 20px 0;
}

span.page-link {
	background-color: #6B66FF; color: #ffffff;
}

/* card 
	======================================== */
	
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 최소 250px, 최대 1fr로 자동 조정 */
    gap: 20px;
}

.snip1518 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  max-width: 250px;
  height: 400px;
  width: 100%;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 이미지 영역 높이 고정 */
.snip1518 .image {
  width: 100%;
  height: 70%; /* card 높이 지정 */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.snip1518 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1518 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  position: relative;
}

.snip1518 figcaption {
  padding: 10%;
  padding-bottom: calc(25%);
  background-color: #ffffff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.snip1518 h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.snip1518 h5 {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
}

.snip1518 footer {
  border-top: 1px solid rgba(0, 0, 0, 0.065);
  padding: 0 20px;
  font-size: 13px;
  line-height: 50px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.snip1518 footer .icons {
  position: absolute;
  right: 20px;
  top: 0;
}

.snip1518 footer .icons > div {
  display: inline-block;
  margin-left: 8px;
}

.snip1518 footer .icons i {
  display: inline-block;
  margin-right: 5px;
  font-size: 1em;
}

.snip1518 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.fa-comment::before {
	content: "\f075"; /* fa-comment 아이콘의 유니코드 값 */
 	font-family: "Font Awesome 5 Free";
  	font-weight: 100; 
  	font-size: 11px; 
  	color: inherit; /* 기존 색상을 그대로 사용 */
  	vertical-align: middle;
}

/* form과 버튼을 포함한 상위 컨테이너 */
.form-and-buttons-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    margin-bottom: 10px;
    padding: 0 30px; /* 양쪽에 padding 추가하여 안쪽으로 배치 */
}

/* 버튼을 왼쪽에 배치 */
.buttons-container {
    display: flex;
    gap: 10px; 
}

/* 버튼 스타일 */
.styled-button {
	font-size: 14px;
	padding: 8px;
}

/* form */
.form-container {
    display: flex;
    justify-content: flex-end; 
    width: 50%; 
}

/* 검색 필터 및 검색창 */
/* .styled-select, .styled-input { */
/*     width: auto; */
/* } */

/* 검색 필터 */
/* .styled-select { */
/*   font-size: 12px; */
/*   padding: 5px; */
/*   border: 1px solid #ccc; */
/*   border-radius: 5px; */
/*   background-color: #f8f8f8; */
/*   color: #333; */
/*   width: 80px; */
/* } */

/* 검색창 */
/* .styled-input { */
/* 	font-size: 12px; */
/* 	padding: 5px; */
/* 	width: 200px; */
/* 	border: 1px solid #ccc; */
/* 	border-radius: 5px; */
/* 	background-color: #f8f8f8; */
/* 	color: #333; */
/* 	transition: all 0.3s ease; 포커스 시 애니메이션	 */
/* } */

/* 검색창 포커스 스타일 */
/* .styled-input:focus { */
/*   border-color: #007bff; */
/*   background-color: #fff; */
/*   outline: none; */
}

/* 검색창 placeholder 텍스트 스타일 */
/* .styled-input::placeholder { */
/*   color: #aaa; */
/*   font-style: italic; */
/* } */

/* 작은 화면에서 레이아웃 조정 */
@media (max-width: 768px) {
    .form-and-buttons-container {
        flex-direction: column;
        width: 100%;
        align-items: stretch; /* 양쪽 끝까지 차지하도록 설정 */
    }
    
    .buttons-container {
        margin-bottom: 10px;
        width: 70%;
        justify-content: flex-start;
    }

    .form-container {
        width: 60%;
    }

    .styled-select, .styled-input {
        width: 100%;
    }
}
