<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.ex.LikeMapper">
	<insert id="addLike" parameterType="LikeDto">
		INSERT INTO mvc_like6
		VALUES 
			(
			seq_mvc_like6.nextval,
			#{bId},
			#{userId}				
			)
	</insert>
	
	<delete id="removeLike" parameterType="LikeDto">
		DELETE FROM mvc_like6
		 WHERE bId = #{bId} AND userId = #{userId}
	</delete>
	
	<select id="isLiked" parameterType="java.util.HashMap" resultType="Integer">
		SELECT COUNT(*)
		  FROM mvc_like6
		 WHERE bId = #{bId} AND
		       userId = #{userId} 
	</select>
	
	<insert id="addRecommend" parameterType="LikeDto">
		INSERT INTO mvc_like6
		VALUES
			(
			seq_mvc_like6.nextval,
			#{bId},
			#{userId}
			)			
	</insert>
	
	<delete id="removeRecommend" parameterType="LikeDto">
		DELETE FROM mvc_like6
		 WHERE bId = #{bId} AND userId = #{userId}
	</delete>
	
	<select id="isRecommended" parameterType="LikeDto" resultType="Integer">
		SELECT COUNT(*)
		  FROM mvc_like6
		 WHERE bId = #{bId} AND
		 	   userId = #{userId}
	</select>
</mapper>