<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.ex.MessageMapper">

	<select id="findRoomId" parameterType="java.util.HashMap" resultType="String">
		SELECT DISTINCT room_Id
		  FROM mvc_chat6
		 WHERE (sender = #{sender} AND receiver = #{receiver})
		    OR (sender = #{receiver} AND receiver = #{sender})
	</select>

	<insert id="saveMessage" parameterType="MessageDto">
		INSERT INTO mvc_chat6
			(
			message_id,
			room_id,
			sender,
			receiver,
			content,
			regdate
			)
		VALUES
			(
			seq_mvc_chat6.nextval,
			#{roomId},
			#{sender},
			#{receiver},
			#{content},
			#{regdate}
			)
	</insert>
	
	<select id="getPastMessages" resultType="MessageDto">
		SELECT *
		  FROM mvc_chat6
		 WHERE room_id = #{roomId}
	  ORDER BY message_id  
	</select>

</mapper>