<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.ex.UserMapper">
	<insert id="join" parameterType="UserDto">
		INSERT INTO mvc_login6
  			(
  			userId,
  			userPw,
  			unickName,
  			uemail,
  			username,
  			umobile
  			)
		VALUES
    		(
    		#{userId},
    		#{userPw},
    		#{unickName},
    		#{uemail},
    		#{username},
    		#{umobile}
    		)
	</insert>
	
	<select id="login" resultType="UserDto" parameterType="java.util.HashMap">
		SELECT * 
		  FROM mvc_login6
		 WHERE userId = #{userId} 
		   AND userPw = #{userPw}
	</select>
	
	<select id="getUserPassword" resultType="String">
		SELECT userPw
		  FROM mvc_login6
		 WHERE userId = #{userId}
	</select>
	
	<select id="getUserNickname" resultType="String">
		SELECT unickName
		  FROM mvc_login6
		 WHERE userId = #{userId}
	</select>
	
	<select id="getUserPosts" resultType="BoardDto">
		SELECT * 
		  FROM mvc_board6
		 WHERE bName = #{userId}
		 ORDER BY bId DESC
	</select>
	
	<select id="getUserComments" resultType="BoardDto">
		SELECT * 
		  FROM mvc_board6
		 WHERE bName = #{userId} 
		   AND bStep >= 1
	</select>
	
	<select id="getUserLikedPosts" resultType="BoardDto">
		SELECT b.*
		  FROM mvc_board6 b
		  JOIN mvc_like6 l ON b.bId = l.bId
		 WHERE l.userId = #{userId}
	</select>
	
	<select id="isOldPasswordCorrect" parameterType="java.util.HashMap" resultType="Integer">
		SELECT COUNT(*)
		  FROM mvc_login6
		 WHERE userId = #{userId} 
		   AND userPw = #{oldPassword}
	</select>
	
	<select id="getCurrentPassword" resultType="String">
		SELECT userPw
		  FROM mvc_login6
		 WHERE userId = #{userId}
	</select>
	
	<update id="updatePassword" parameterType="java.util.HashMap">
		UPDATE mvc_login6
		   SET userPw = #{newPassword}
		 WHERE userId = #{userId}
	</update>
	
	<select id="getCurrentProfile" resultType="UserDto">
		SELECT unickname, uprofile_image 
		  FROM mvc_login6
	 	 WHERE userId = #{userId}
	</select>
	
	<!-- 닉네임만 변경하는 경우 -->
	<update id="updateNickname" parameterType="java.util.HashMap">
		UPDATE mvc_login6
		   SET unickname = #{nickname}
		 WHERE userId = #{userId}
	</update>
	
	<!-- 프로필 이미지만 변경하는 경우 -->
	<update id="updateProfileImage" parameterType="java.util.HashMap">
		UPDATE mvc_login6
		   SET uprofile_image = #{filename}
		 WHERE userId = #{userId} 
	</update>

	<!-- 닉네임 + 프로필 이미지 변경하는 경우 -->
	<update id="updateNicknameAndProfileImage" parameterType="java.util.HashMap">
		UPDATE mvc_login6
		   SET unickname = #{nickname},
		   	   uprofile_image = #{filename}
		 WHERE userId = #{userId} 
	</update>	
	
	<!-- 프로필 이미지 가져오기 -->
	<select id="getProfileFilename" resultType="String">
		SELECT uprofile_image
		  FROM mvc_login6
		 WHERE userId = #{bName}
	</select>
	
	<!-- 사용자 이름, 이메일, (비밀번호 찾기인 경우) 아이디까지 일치하는지 확인 -->
	<!-- 아이디 찾기: userName + uemail만 확인 -->
	<!-- 비밀번호 찾기: userName + uemail + userId까지 확인 -->
	<select id="checkUserInfoMatch" parameterType="java.util.HashMap" resultType="Integer">
		SELECT COUNT(*)
		  FROM mvc_login6
		 WHERE userName = #{userName}
		   AND uemail = #{uemail}
		   <if test="userId != null and userId != ''">
		       AND userId = #{userId}
		   </if> 
	</select>
	
	<!-- 아이디 찾기: 인증 후 사용자정보 가져오기 -->
	<select id="findUserIdByEmail" parameterType="java.util.HashMap" resultType="UserDto">
		SELECT *
		  FROM mvc_login6
		 WHERE userName = #{userName}
		   AND uemail = #{uemail}
	</select>
	
	<!-- 인증 단계: 아이디 존재여부 확인 -->
	<select id="checkUserIdMatch" resultType="Integer">
		SELECT COUNT(*)
		  FROM mvc_login6
		 WHERE userId = #{userId}
	</select>
	
	<!-- 비밀번호 변경(해시 알고리즘) -->
	<update id="resetPassword" parameterType="java.util.HashMap">
		UPDATE mvc_login6
		   SET userPw = #{password}
		 WHERE userId = #{userId}
	</update>
	
	<!-- 아이디 중복 검사 -->
	<select id="checkIdDuplicate" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		  FROM mvc_login6
		 WHERE userId = #{checkId}
	</select>
	
	<!-- 닉네임 중복 검사 -->
	<select id="checkNicknameDuplicate" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		  FROM mvc_login6
		 WHERE unickname = #{checkNickanme}
	</select>
</mapper>