<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- log4jdbc-log4j2 -->
	<logger name="jdbc.sqlonly"        level="INFO"/>
    <logger name="jdbc.sqltiming"      level="WARN"/>
    <logger name="jdbc.audit"          level="ERROR"/>
    <logger name="jdbc.resultset"      level="WARN"/>
    <logger name="jdbc.resultsettable" level="INFO"/>
    <logger name="jdbc.connection"     level="ERROR"/>
<!-- 	 <logger name="jdbc.sqlonly"        level="DEBUG"/> -->
<!--     <logger name="jdbc.sqltiming"      level="INFO"/> -->
<!--     <logger name="jdbc.audit"          level="WARN"/> -->
<!--     <logger name="jdbc.resultset"      level="ERROR"/> -->
<!--     <logger name="jdbc.resultsettable" level="ERROR"/> -->
<!--     <logger name="jdbc.connection"     level="INFO"/> -->
    
    <!-- sql 콘솔 출력 -->
    <logger name="org.apache.ibatis" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
    <logger name="jdbc.sqlonly" level="DEBUG">
        <appender-ref ref="console"/>
    </logger>
<!--     <appender name="console" class="ch.qos.logback.core.ConsoleAppender"> -->
<!--         <encoder> -->
<!--             <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern> -->
<!--         </encoder> -->
<!--     </appender> -->
    
</configuration>

