<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- INSERT NULL 값 설정  -->
	<settings> 
		<setting name="jdbcTypeForNull" value="VARCHAR"/> 
	</settings>
	<typeAliases>
		<!-- 클래스 단위 -->
<!-- 		<typeAlias type="com.kh.ex02.vo.BoardVo" -->
<!-- 			alias="BoardVo"/> -->
		<!-- 패키지 단위 -->
		<package name="com.my.ex.dto"/>
	</typeAliases>
</configuration>